:root {
  --light-red: hsl(0, 100%, 67%);
  --light-red-op: hsla(0, 100%, 67%, .06);
  --orangey-yellow: hsl(39, 100%, 56%);
  --orangey-yellow-op: hsla(39, 100%, 56%, .06);
  --green-teal: hsl(166, 100%, 37%);
  --green-tea-op: hsla(166, 100%, 37%, .06);
  --cobalt-blue: hsl(234, 85%, 45%);
  --cobalt-blue-op: hsla(234, 85%, 45%, .06);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, .3);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --grey: hsl(0, 0%, 66%);
}
body {
  font-size: 18px;
  font-family: "Hanken Grotesk Medium";
  font-weight: 500;
  background-color: var(--white);
}
.results {
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue) 70%);
  text-align: center;
  border-radius: 0 0 30px 30px;
}
.results h2 {
  color: var(--light-lavender);
  padding: 25px 0 30px;
  font-size: 19px;
}
.results h3 {
  color: var(--white);
  font-size: 27px;
  font-family: "Hanken Grotesk Bold";
  padding: 35px 0 10px;
}
.results p {
  color: var(--light-lavender);
  line-height: 1.2;
  padding-bottom: 49px;
}
.results-graph-mobile {
  display: inline;
}
.results-graph-desktop {
  display: none;
}
.circle {
  height: 155px;
  width: 155px;
  background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue) 50%);
  border-radius: 50%;
  color: var(--white);
  font-family: "Hanken Grotesk Extra Bold";
  margin: 0 auto;
}
.circle p:nth-child(1) {
  padding: 32px 0 10px 0;
  font-size: 55px;
  font-family: "Hanken Grotesk Extra Bold";
  color: var(--white);
}
.circle p:nth-child(2) {
  color: var(--light-lavender);
}
.summary {
  padding: 30px;
}
.summary h2 {
  padding-bottom: 25px;
  font-size: 20px;
  font-family: "Hanken Grotesk Bold";
}
.summary-items {
  display: flex;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 19px 20px;
}
.summary-items img {
  width: 25px;
  padding-right: 10px;
}
.summary-items p {
  padding-top: 3px;
}
.summary-items p:nth-child(2) {
  font-family: "Hanken Grotesk Bold";
}
.summary-items p:nth-child(3) {
  float: right;
  margin-left: auto;
  order: 2;
  color: var(--dark-gray-blue);
  font-family: "Hanken Grotesk Extra Bold";
}
.summary-items span {
  color: var(--grey);
}
.reaction {
  background-color: var(--light-red-op);
  color: var(--light-red);
}
.memory {
  background-color: var(--orangey-yellow-op);
  color: var(--orangey-yellow);
}
.verbal {
  background-color: var(--green-tea-op);
  color: var(--green-teal);
}
.visual {
  background-color: var(--cobalt-blue-op);
  color: var(--cobalt-blue);
  margin-bottom: 30px;
}
button {
  width: 100%;
  border-radius: 50px;
  padding: 20px 0;
  border: none;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-family: "Hanken Grotesk Bold";
  font-size: 19px;
}
button:hover {
  cursor: pointer;
  background-color: var(--cobalt-blue);
}
@media screen and (min-width: 700px) {
  .wrapper {
    display: flex;
    justify-content: center;
    margin: 200px auto 0;
    box-shadow: 30px 25px 15px var(--cobalt-blue-op);
    width: 700px;
    border-radius: 30px;
  }
  .results {
    border-radius: 30px;
    width: 370px;
  }
  .results-graph-mobile {
    display: none;
  }
  .results-graph-desktop {
    display: inline;
  }
  .summary {
    width: 330px;
  }
}