@font-face {
    font-family: 'Hanken Grotesk Medium';
    src: url('../fonts/HankenGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Medium.woff') format('woff'),
        url('../fonts/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hanken Grotesk Extra Bold';
    src: url('../fonts/HankenGrotesk-ExtraBold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-ExtraBold.woff') format('woff'),
        url('../fonts/HankenGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Hanken Grotesk Bold';
    src: url('../fonts/HankenGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/HankenGrotesk-Bold.woff') format('woff'),
        url('../fonts/HankenGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}